/*
body {
    background-image: url(../img/cgibg.png);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
*/
body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial;
    font-size:1em;
    color:black;
}
h2{
    color:#e31937;
}
.ui-content{
    background: transparent;
    color:black;
    text-shadow:none;
    padding-top:25px !important;
}

#news,#leads {
    background-image: url(../img/cgibg.png);
}
/* Background settings */
.ui-page {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Prevent text selection while swiping with mouse */
.ui-page .ui-header, .ui-title, .control .ui-btn, .trivia-btn, .ui-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
li.news_part{
    background: rgba(123,123,123,0.1);
}

a.news_item{
    color: #000 !important;
    text-shadow: none !important;
}
